  .products {
    width: 100%;
    max-width: 1200px;
    display: grid;
    position: relative;
  }
  
  .products > div:first-child {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 50px;
  }
  
  .products > div:not(:first-child) {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .products > div > div:nth-child(2) {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    font-weight: bold;
  }
  
  .products > div > div:nth-child(3) {
    font-size: 14px;
    text-align: center;
    color: #333;
  }
  
.products > div > div:last-child {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
  }
  
  .products > div > div:last-child a {
    background-color:  rgb(41 84 255);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
  }
  
  .products > div > div:last-child .icon-wishlist {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  
  @media (min-width: 360px) and (max-width:599) {
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 600px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 900px) {
    .products {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  

  
 
  